<div class="modal-header">
	<h5 class="modal-title">Input editing</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<form [formGroup]="form">
		<fieldset>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Key <sup class="text-danger">*</sup></label>
				<div class="col-sm-9">
					<input type="string" class="form-control" formControlName="key">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Label <sup class="text-danger">*</sup></label>
				<div class="col-sm-9">
					<input type="string" class="form-control" formControlName="description">
				</div>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" formControlName="required">
				<label class="form-check-label">
					Required
				</label>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Type</label>
				<div class="col-sm-9">
					<select class="form-control" formControlName="format">
						<option *ngFor="let format of formats" [value]="format">{{ format }}</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Placeholder</label>
				<div class="col-sm-9">
					<input type="string" class="form-control" formControlName="placeholder">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Default value</label>
				<div class="col-sm-9">
					<input type="string" class="form-control" formControlName="value">
				</div>
			</div>
			<ng-container *ngIf="form.get('format').value === 'number'">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Minimun</label>
					<div class="col-sm-9">
						<input type="string" class="form-control" formControlName="minimun">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Maximun</label>
					<div class="col-sm-9">
						<input type="string" class="form-control" formControlName="maximun">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Step</label>
					<div class="col-sm-9">
						<input type="string" class="form-control" formControlName="step">
					</div>
				</div>
			</ng-container>
		</fieldset>
		<!-- <div class="form-group">
			<label>Etiqueta <sup class="text-danger">*</sup></label>
			<input type="text" formControlName="name" class="form-control">
		</div>
		<div class="form-group">
			<label>Tipo <sup class="text-danger">*</sup></label>
			<select formControlName="type" class="form-control" (change)="selectType($event.target.value)">
				<option *ngFor="let type of types" [value]="type">{{ type }}</option>
			</select>
		</div>
		<div class="form-group">
			<label>
				<input type="checkbox" formControlName="required">
				Obligatorio <sup class="text-danger">*</sup>
			</label>
		</div>

		<ng-container *ngTemplateOutlet="selectedType"></ng-container>

		<ng-template #button>
			<div class="form-group">
				<label>Título</label>
				<input type="text" formControlName="value" class="form-control">
			</div>
		</ng-template>

		<ng-template #text>
			<div class="form-group">
				<label>Placeholder</label>
				<input type="text" formControlName="placeholder" class="form-control">
			</div>
			<div class="form-group">
				<label>Valor predefinido</label>
				<input type="text" formControlName="value" class="form-control">
			</div>
			<div class="form-group">
				<label>Longitud</label>
				<input type="number" formControlName="maxlength" class="form-control">
			</div>
		</ng-template>

		<ng-template #checkbox>
			<div class="form-group">
				<label>
					<input type="checkbox" formControlName="selected">
					Por defecto
				</label>
			</div>
			<div class="form-group">
				<label>Nombre</label>
				<input type="text" formControlName="controlName" class="form-control">
			</div>
			<div class="form-group">
				<label>Valor</label>
				<input type="text" formControlName="value" class="form-control">
			</div>
		</ng-template>

		<ng-template #color>
			<div class="form-group">
				<label>Nombre</label>
				<input type="text" formControlName="controlName" class="form-control">
			</div>
			<div class="form-group">
				<label>Valor predefinido</label>
				<input type="color" formControlName="value" class="form-control">
			</div>
		</ng-template>

		<ng-template #date>
			<div class="form-group">
				<label>Valor predefinido</label>
				<input type="date" formControlName="value" class="form-control">
			</div>
		</ng-template>

		<ng-template #datetime>
			<div class="form-group">
				<label>Valor predefinido</label>
				<input type="datetime" formControlName="value" class="form-control">
			</div>
		</ng-template>

		<ng-template #email>
			<div class="form-group">
				<label>Valor predefinido</label>
				<input type="email" formControlName="value" class="form-control">
			</div>
		</ng-template>

		<ng-template #number>
			<div class="form-group">
				<label>Valor predefinido</label>
				<input type="number" formControlName="value" [min]="form.get('min').value" [max]="form.get('max').value" class="form-control">
			</div>
			<div class="form-group">
				<label>Mínimo</label>
				<input type="number" formControlName="min" class="form-control">
			</div>
			<div class="form-group">
				<label>Máximo</label>
				<input type="number" formControlName="max" class="form-control">
			</div>
		</ng-template>

		<ng-template #radio>
			<div class="form-group">
				<label>Valor predefinido</label>
				<input type="text" formControlName="value" class="form-control">
			</div>
			<div class="form-group">
				<label>
					Seleccionado por defecto
					<input type="checkbox" formControlName="selected">
				</label>
			</div>
		</ng-template>

		<ng-template #range>
			<div class="form-group">
				<label>Nombre</label>
				<input type="text" formControlName="controlName" class="form-control">
			</div>
			<div class="form-group">
				<label>Valor predefinido</label>
				<input type="range" [min]="form.get('min').value" [max]="form.get('max').value" formControlName="value">
				{{ form.get('value').value }}
			</div>
			<div class="form-group">
				<label>Paso</label>
				<input type="number" formControlName="step" class="form-control">
			</div>
			<div class="form-group">
				<label>Mínimo</label>
				<input type="number" formControlName="min" class="form-control">
			</div>
			<div class="form-group">
				<label>Máximo</label>
				<input type="number" formControlName="max" class="form-control">
			</div>
		</ng-template>

		<ng-template #time>
			<div class="form-group">
				<label>Valor predefinido</label>
				<input type="time" formControlName="value" class="form-control">
			</div>
		</ng-template>

		<ng-template #file>
			<div class="form-group">
				<label>Nombre</label>
				<input type="text" formControlName="controlName" class="form-control">
			</div>
			<div class="form-group">
				<label>
					<input type="checkbox" formControlName="multiple">
					Multiple
				</label>
			</div>
		</ng-template> -->
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-danger" (click)="dismiss()">Cancel</button>
	<button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="saveAndDismiss()">Accept</button>
</div>