<form [formGroup]="form">
	<ul class="list-group list-group-flush" formArrayName="items">
		<ng-container *ngFor="let trigger of items.controls; let i=index">
			<li class="list-group-item" [formGroupName]="i">
				<h5>If</h5>
				<ul formArrayName="if">
					<ng-container *ngFor="let trigger of trigger.get('if').controls; let j=index; let last = last;">
						<li [formGroupName]="j">
							<div class="form-group row">
								<div class="col-2">
									<select class="form-control" formcontrolname="type">
										<option value="control">Control</option>
										<option value="value">value</option>
									</select>
								</div>
								<div class="col-2">
									<input type="text" formControlName="value" placeholder="campo" class="form-control">
								</div>
								<div class="col-2">
									<select class="form-control" formcontrolname="operator">
										<option value="equal">Equal</option>
										<option value="like">like</option>
									</select>
								</div>
								<div class="col-2">
									<select class="form-control" formcontrolname="type2">
										<option value="control">Control</option>
										<option value="value">value</option>
									</select>
								</div>
								<div class="col-2">
									<input type="text" formControlName="value2" placeholder="campo"
										class="form-control">
								</div>
								<div class="col-2" *ngIf="!last">
									<select class="form-control" formcontrolname="boolean">
										<option value="and">And</option>
										<option value="or">Or</option>
									</select>
								</div>
							</div>
						</li>
					</ng-container>
				</ul>
				<div class="text-right">
					<button class="btn btn-secondary" (click)="addAntecedent(trigger.get('if'))">
						+
					</button>
				</div>
				<h5>Then</h5>
				<ul formArrayName="then">
					<ng-container *ngFor="let trigger of trigger.get('then').controls; let k=index">
						<li [formGroupName]="k">
							<div class="form-group row">
								<div class="col">
									<input type="text" formControlName="control" placeholder="control"
										class="form-control">
								</div>
								<div class="col">
									<input type="text" formControlName="action" placeholder="action"
										class="form-control">
								</div>
							</div>
						</li>
					</ng-container>
				</ul>
				<div class="text-right">
					<button class="btn btn-secondary" (click)="addConsequence(trigger.get('then'))">
						+
					</button>
				</div>
				<h5>Else</h5>
				<ul formArrayName="else">
					<ng-container *ngFor="let trigger of trigger.get('else').controls; let l=index">
						<li [formGroupName]="l">
							<div class="form-group row">
								<div class="col">
									<input type="text" formControlName="control" placeholder="control"
										class="form-control">
								</div>
								<div class="col">
									<input type="text" formControlName="action" placeholder="action"
										class="form-control">
								</div>
							</div>
						</li>
					</ng-container>
				</ul>
				<div class="text-right">
					<button class="btn btn-secondary" (click)="addConsequence(trigger.get('else'))">
						+
					</button>
				</div>
			</li>
		</ng-container>
	</ul>
	<div class="text-right m-2">
		<button class="btn btn-secondary" (click)="addTrigger()">Add trigger</button>
	</div>
</form>