<div class="modal-header">
	<h4 class="modal-title" id="modal-title">Table</h4>
	<button type="button" class="close" aria-describedby="modal-title" (click)="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<form [formGroup]="form">
		<div class="form-group">
			<label>Etiqueta <sup class="text-danger">*</sup></label>
			<input type="text" formControlName="name" class="form-control">
		</div>
	</form>

	<div class="form-group tableContainer" #table>
		<table>
			<thead>
				<tr>
					<th>Etiqueta</th>
					<th>Nombre</th>
					<th>Tipo</th>
					<th>Código</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let column of columns; let i = index">
					<td>
						<input type="text" class="form-control" [(ngModel)]="column.label">
					</td>
					<td>
						<input type="text" class="form-control" [(ngModel)]="column.name">
					</td>
					<td>
						<select class="form-control" [(ngModel)]="column.type">
							<option value="text">Text</option>
							<option value="textarea">TextArea</option>
							<option value="date">Fecha</option>
							<option value="number">Número</option>
							<option value="file">Archivo</option>
							<option value="select">Select</option>
						</select>
					</td>
					<td>
						<div class="input-group">
							<input type="text" class="form-control" [(ngModel)]="column.code">
							<div class="input-group-append">
								<button class="btn" (click)="editCode(column)">
									<em class="fa fa-arrows-alt"></em>
								</button>
							</div>
						</div>
					</td>
					<td>
						<button class="btn" (click)="delete(i)">
							<em class="fa fa-trash"></em>
						</button>
					</td>
				</tr>
				<tr *ngIf="!columns.length">
					<td colspan="5">
						<div class="alert alert-warning" role="alert">
							Pulse añadir para ir añadiendo columnas
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-right">
		<button class="btn" (click)="addOption()">
			<em class="fa fa-plus"></em>
			Añadir
		</button>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancelar</button>
	<button type="button" class="btn btn-danger" (click)="save()" [disabled]="form.invalid || !columns.length">Aceptar</button>
</div>