<div class="modal-header">
	<h4 class="modal-title" id="modal-title">Código</h4>
	<button type="button" class="close" aria-describedby="modal-title" (click)="cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<form [formGroup]="form">
		<div class="form-group">
			<label>Etiqueta <sup class="text-danger">*</sup></label>
			<input type="text" formControlName="name" class="form-control">
		</div>
		<div class="form-group checkbox">
			<label>
				<input type="checkbox" formControlName="required">
				Obligatorio <sup class="text-danger">*</sup>
			</label>
		</div>
		<div class="form-group">
			<label>Tipo <sup class="text-danger">*</sup></label>
			<select class="form-control" formControlName="type">
				<option value="html">Html</option>
				<option value="js">Javascript</option>
				<option value="css">CSS</option>
			</select>
		</div>
		<div class="form-group">
			<label>Código <sup class="text-danger">*</sup></label>
			<textarea formControlName="value" class="form-control" rows="10"></textarea>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancelar</button>
	<button type="button" class="btn btn-danger" (click)="save()" [disabled]="form.invalid">Aceptar</button>
</div>