<div class="row my-2">
	<div class="col text-auto">
		<button class="btn btn-primary mr-2" *ngFor="let item of buildingItems" [dndDraggable]="item"
			dndEffectAllowed="copy">
			{{ item.name }}
		</button>
	</div>
	<div class="col-auto">
		<button class="btn btn-success" (click)="save()">
			<i class="fa fa-save fa-fw"></i>Guardar
		</button>
	</div>
</div>

<!-- <ul class="nav nav-tabs">
	<li *ngFor="let tab of template; let i = index;" class="nav-item">
		<a class="nav-link" [ngClass]="{'active': tabIndex === i}" href="javascript:{}"
			(click)="tabIndex = i;">{{ tab.name }}</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="javascript:{}" tabindex="-1" aria-disabled="true" (click)="addTab()">
			<i class="fa fa-plus">+</i>
		</a>
	</li>
</ul> -->

<div class="builder-target" *ngIf="schema">
	<div dndDropzone (dndDrop)="onDrop($event, schema.properties)">
		<ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: schema.properties }">
		</ng-container>
	</div>

	<ng-template #buttonsTpt let-list="list" let-item="item">
		<span class="build-item_button-bar float-right">
			<button class="btn btn-link px-1 build-item_button-bar_edit" (click)="editBuildItem(item)">
				<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pencil-alt" role="img"
					xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
					class="svg-inline--fa fa-pencil-alt fa-w-16">
					<path fill="currentColor"
						d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"
						class=""></path>
				</svg>
			</button>
			<button class="btn btn-link px-1 build-item_button-bar_remove" (click)="deleteBuildItem(list, item)">
				<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="trash-alt" role="img"
					xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
					class="svg-inline--fa fa-trash-alt fa-w-14">
					<path fill="currentColor"
						d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"
						class=""></path>
				</svg>
			</button>
		</span>
	</ng-template>

	<ng-template #recursiveList let-list>

		<div dndPlaceholderRef class="dndPlaceholder"></div>

		<ng-container *ngFor="let item of list">
			<ng-container [ngSwitch]="item.type">

				<fieldset *ngSwitchCase="'fieldset'" class="p-3" [dndDraggable]="item" dndEffectAllowed="move"
					(dndCopied)="onDragged(item, list, 'copy')" (dndMoved)="onDragged(item, list, 'move')">
					<legend>{{ item.properties.title || 'Section' }}
						<ng-container *ngTemplateOutlet="buttonsTpt; context: { list: list, item: item }">
						</ng-container>
					</legend>
					<div class="build-item-container" dndDropzone (dndDrop)="onDrop($event, item.children)">
						<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }">
						</ng-container>
					</div>
				</fieldset>

				<div *ngSwitchCase="'row'" [dndDraggable]="item" dndEffectAllowed="move"
					(dndCopied)="onDragged(item, list, 'copy')" (dndMoved)="onDragged(item, list, 'move')">
					<div class="row build-item-container" dndDropzone (dndDrop)="onDrop($event, item.children)">
						<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }">
						</ng-container>
					</div>
				</div>

				<div *ngSwitchCase="'col'" class="col col-6" [dndDraggable]="item" dndEffectAllowed="move"
					(dndCopied)="onDragged(item, list, 'copy')" (dndMoved)="onDragged(item, list, 'move')">
					<div class="build-item-container" dndDropzone (dndDrop)="onDrop($event, item.children)">
						<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }">
						</ng-container>
					</div>
				</div>

				<div *ngSwitchCase="'string'" class="form-group" [dndDraggable]="item" dndEffectAllowed="move"
					(dndCopied)="onDragged(item, list, 'copy')" (dndMoved)="onDragged(item, list, 'move')">
					<label>{{ item.properties.name || 'Field' }}
						<sup *ngIf="item.properties.required" class="text-danger">*</sup>
					</label>
					<ng-container *ngTemplateOutlet="buttonsTpt; context: { list: list, item: item }">
					</ng-container>
					<input class="form-control" [type]="item.properties.type" [name]="item.properties.controlName"
						[placeholder]="item.properties.placeholder || ''" [required]="item.properties.required"
						[min]="item.properties.min" [max]="item.properties.max" [multiple]="item.properties.multiple"
						[step]="item.properties.step" [value]="item.properties.value || ''"
						[(checked)]="item.properties.selected" [placeholder]="item.properties.placeholder || ''" />
				</div>

				<div *ngSwitchCase="'range'" class="form-group">
					<label for="formControlRange">Example Range input</label>
					<input type="range" class="form-control-range" id="formControlRange">
				</div>

				<div *ngSwitchCase="'textarea'" class="form-group" [dndDraggable]="item" dndEffectAllowed="move"
					(dndCopied)="onDragged(item, list, 'copy')" (dndMoved)="onDragged(item, list, 'move')">
					<label>{{ item.properties.name }}</label>
					<ng-container *ngTemplateOutlet="buttonsTpt; context: { list: list, item: item }">
					</ng-container>
					<textarea class="form-control" [rows]="item.properties.rows" [cols]="item.properties.columns"
						[name]="item.properties.controlName" [placeholder]="item.properties.placeholder || ''"
						[required]="item.properties.required">{{ item.properties.value }}</textarea>
				</div>

				<div *ngSwitchCase="'select'" class="form-group" [dndDraggable]="item" dndEffectAllowed="move"
					(dndCopied)="onDragged(item, list, 'copy')" (dndMoved)="onDragged(item, list, 'move')">
					<label>{{ item.properties.name }}</label>
					<ng-container *ngTemplateOutlet="buttonsTpt; context: { list: list, item: item }">
					</ng-container>
					<select class="form-control" [name]="item.properties.controlName"
						[multiple]="item.properties.multiple" [required]="item.properties.required"
						[(ngModel)]="item.properties.value">
						<option *ngFor="let option of item.properties.value" [value]="option.value">
							{{ option.text }}</option>
					</select>
				</div>

				<div *ngSwitchDefault class="form-group" [dndDraggable]="item" dndEffectAllowed="move"
					(dndCopied)="onDragged(item, list, 'copy')" (dndMoved)="onDragged(item, list, 'move')">
					<label>
						{{ item.name }}
					</label>
					<ng-container *ngTemplateOutlet="buttonsTpt; context: { list: list, item: item }">
					</ng-container>
					<input class="form-control" [attr.type]="item.type" [ngModel]="item.data">
				</div>

			</ng-container>
		</ng-container>
	</ng-template>
</div>