:host {
  display: block;
  box-sizing: border-box;
}

.dndDraggingSource {
  opacity: 0.5;
  transform: scale(0.98);
}

.dndDroppingTarget {
  border: 1px dashed #dee2e6;
  padding: 1rem;
}

.dndPlaceholder {
  border: 1px dashed #777;
  height: 2rem;
  margin: 1rem;
}

fieldset {
  min-height: 4rem;
}

.tabs {
  margin-bottom: 1rem;
  .tab-container {
    padding: 1rem;
    border: 1px solid #dee2e6;
    margin-top: -1px;
  }
}

.build-item_button-bar {
  .btn {
    opacity: 0;
    svg {
      width: 1rem;
    }
  }
  .build-item_button-bar_edit {
    color: gray;
  }
  .build-item_button-bar_remove {
    color: #a00;
  }
}

.building-item {
  &:hover {
    > .form-group > .build-item_button-bar {
      .btn {
        opacity: 1;
      }
    }
  }
  & > .tabs > .nav-tabs:hover > .nav-item > .build-item_button-bar {
    .btn {
      opacity: 1;
    }
  }
}
